body {
    font-family: 'Roboto Condensed', sans-serif;
}

#mainNavbar {
    background-color: #F72210;
    color: white;
    height: 20vh;
}

.btn, .periscope {
    color: #F72210;
}

#firstSpan {
    background-color: #F72210;
    color: white;
    font-size: 20px;
}

#secondSpan {
    color: white; 
    background-color: #6C757D;
}

.navbar-brand {
    position: absolute;
    left: calc(50% - 200px);
    top:5px
}

#mainNavbar a.nav-link {
    color: white; 
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
}

#secondNavbar::before {
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-color: #f72210;
    border-left:12px solid#fff;
    border-top:13px solid#f72210;
  }

#secondNavbar {
   background-color: white;  
}

#secondNavbar a.nav-link {
    color: rgb(12, 11, 11); 
}

#search-input {
    width: 100px;
}

i.fa-search {
    position: absolute;
    right: 3rem;
    top: 1.1rem;
}

#firstArticle {
    height: 170rem;
  

}

.img-info {
    position: relative;
    bottom: 2rem;
    color: #f72210;
    background-color: #F3F2F1;
    z-index: 1;
    font-size: 16px;
}

.focus {
    position: relative;
    bottom: 1.2rem;
    right: 1.1rem;
    background-color: #f72210;
    color: #F3F2F1;
    z-index: 1;
    font-size: 16px;
}

.image-info {
    position: relative;
    bottom: 1.5rem;
    color: #108ff7;
    background-color: #F3F2F1;
    z-index: 1;
    font-size: 16px;  
}

.article-info {
    position: relative;
    bottom: .5rem;
    right: 18.5rem;
    color: #f72210;
    background-color: #F3F2F1;
    z-index: 1;
    font-size: 16px;  
}

.img-span {
    bottom: 2rem;
}


#culture {
    background-color: #F4F5F7;
}

#culture a:nth-child(4) {
    font-family: 'Lora', serif;
    background-color: #C2D4D7;
    font-size: 13px;
}

.text-secondArticle {
    font-size: 20px;
    color: black;
}





/* .img-section {
    position: relative;
}

#button {
    position: absolute;
    left:22px;
    top: 11.7rem;
    background-color: rgb(215, 221, 226);
    color: #F72210;
} */

/* #firstSection {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 177rem;
  scroll-snap-align: start;
    
}

#firstSection::-webkit-scrollbar {
   display: none;

} */

#firstArticle a {
    line-height: 24px;
    font-size: 20px;
    color: black;
}

#firstArticle p {
    line-height: 24px;
    font-size: 15px;
    color: black;
}



/* #secondImage {
    max-height: 60vh; 
    max-width: 100%;
} */

#thirdSection a {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
}

#thirdSection p {
    font-size: 14px;
    line-height: 21px;
}

#thirdArticle  a {
    font-size: 24px;
    color: black;
    line-height: 24px;
}

#thirdArticle p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.show {
    font-size: 24px;
}

#fourthArticle a {
    font-size: 22px;
    line-height: 22px;
    color: black;
}

.fifthTitle {
    color: #f72210;
    font-size: 22px;
    line-height: 22px;
}

.fifthTitle-a {
    color: black;
    font-size: 22px;
    line-height: 22px;
}
.fifthTitle-a:hover, .fifthTitle-img:hover {
    color: #f72210;
  
}

.fifthTitle-img {
    color: black; 
    font-size: 17px; 
    line-height: 21px;
}


@media (max-width: 992px) {
    #mainNavbar {
        background-color: #F72210;
        color: white;
        height:10vh;
        
    }

    .navbar-brand {
        position: absolute;
        left: 2%;
        top:5px;
    }  

    .navbar-brand img {
        height: 5vh;
    }

}